<html>
	<head>
		<title>Steam Group Extension</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" >
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
		<script src="js/main.js"></script>
		<script type="text/template" id="game-item-template">
			<div class="logo"><img src=" http://media.steampowered.com/steamcommunity/public/images/apps/<%= appid %>/<%= img_logo_url %>.jpg"/></div>
			</div>
			
			<div class="L1 player_value_selection">L1</div>
			<div class="L2 player_value_selection">L2</div>
			<div class="L3 player_value_selection">L3</div>
			<div class="L4 player_value_selection">L4</div>
			<div class="O2 player_value_selection">O2</div>
			<div class="O3 player_value_selection">O3</div>
			<div class="O4 player_value_selection">O4</div>
			<div class="OM player_value_selection">OM</div>
		</script>
	</head>
	<body>
		
	</body>
</html>